# Preprocessing Products

# Libraries

In [1]:
#  ---------- libraries ---------
import pandas as pd

# Read Data

In [2]:
# ---------- read data ----------
df = pd.read_csv('datasets/products_raw.csv', sep=';')
df_aisles = pd.read_csv('datasets/aisles_raw.csv', sep=';')
df_departments = pd.read_csv('datasets/departments_raw.csv', sep=';')

# Preprocessing

## Data type

In [3]:
# data type ----------
df = df.astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49694 entries, 0 to 49693
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49694 non-null  object
 1   product_name   49694 non-null  object
 2   aisle_id       49694 non-null  object
 3   department_id  49694 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

## Duplicated data

In [4]:
# duplicated data ----------
df[df.duplicated()]

     product_id   product_name   aisle_id   department_id
  -- ------------ -------------- ---------- ---------------

In [5]:
print('El numero de valores duplicados es:',df.duplicated().sum())
print()

El numero de valores duplicados es: 0

In [6]:
# Duplicated data products names
df['product_name']=df['product_name'].str.lower()
print('El numero de nombres duplicados es:', df['product_name'].duplicated().sum())
print()
print('Los valores duplicados son:')
print()
duplicated_product_names = df['product_name'][df['product_name'].duplicated()].value_counts().to_frame().reset_index()
duplicated_product_names.columns = ['product_name', 'count']
duplicated_product_names

El numero de nombres duplicados es: 1361

Los valores duplicados son:

         product_name                                count
  ------ ------------------------------------------- -------
  0      nan                                         1257
  1      green tea with ginseng and honey            2
  2      carrot and celery sticks                    1
  3      ibuprofen tablets 200 mg                    1
  4      blanc de noirs                              1
  \...   \...                                        \...
  99     muenster cheese slices                      1
  100    potatoes o\'brien with onions and peppers   1
  101    beef chili with beans                       1
  102    candy bar                                   1
  103    burrito- steak & cheese                     1

**Conclusión** Los datos demuestran que existen nombres duplicados, que considero no opresentan mayor problema ya que tienen diferentes product_id, lo que persivo es que la mayoria de valores duplicados son valores Nan por lo que se debe decidir que hacer con estos

## Missing data

**Hipotesis** Los valores ausentes en la columna product_name estan relacionados con el pasillo con id 100 y con el departamento con id 21

In [7]:
# Aislar los datos nulos
df_nan_product_name = df[df['product_name'] == 'nan']
df_nan_product_name

          product_id   product_name   aisle_id   department_id
  ------- ------------ -------------- ---------- ---------------
  37      38           nan            100        21
  71      72           nan            100        21
  109     110          nan            100        21
  296     297          nan            100        21
  416     417          nan            100        21
  \...    \...         \...           \...       \...
  49552   49553        nan            100        21
  49574   49575        nan            100        21
  49640   49641        nan            100        21
  49663   49664        nan            100        21
  49668   49669        nan            100        21

In [8]:
# Son todos los valores de aisle_id 100?
all_aisle_id_100 = (df_nan_product_name['aisle_id'] == '100').all()
print('¿Son todos los valores de la columna aisle_id 100?',all_aisle_id_100)

¿Son todos los valores de la columna aisle_id 100? True

In [9]:
# Son todos los valores de department_id 21?
all_department_id_21 = (df_nan_product_name['department_id'] == '21').all()
print('¿Son todos los valores de la columna department_id 21?',all_department_id_21)

¿Son todos los valores de la columna department_id 21? True

**Conclusión** Los valores ausentes corresponden todos a el pasillo 100 y el departamento 21 Por lo que se tiene que hacer un estudio en los demas dataframes para tratar de descubrir a que se refieren estos vaslores

### Missing data study

In [10]:
# Busqueda de que departamento corresponde
print(df_departments.loc[20,'department'])
print(df_aisles.loc[99,'aisle'])

missing
missing

**Conclusión** Los valores arrojados por el estudio son missing, por lo que serán imputados en los valores ausentes.

In [11]:
# 
df['product_name']=df['product_name'].fillna('missing')
print('el numero de valores ausentes del dataframe es:\n',df.isnull().sum())

el numero de valores ausentes del dataframe es:
 product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

# Save data

In [12]:
# ---------- save data ----------
df.to_csv('datasets/clean_products.csv', index=False)